<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-10 text-left">
    <%= form.label :name, class: "text-base uppercase block w-auto" %>
    <%= form.text_field :name, class: "w-full" %>
  </div>

  <div class="mt-10 text-left">
    <%= form.label :last_name, class: "text-base uppercase block w-auto" %>
    <%= form.text_field :last_name, class: "w-full" %>
  </div>

  <div class="mt-10 text-left">
    <%= form.label :email, class: "text-base uppercase block w-auto" %>
    <%= form.text_field :email, class: "w-full" %>
  </div>

  <div class="mt-10 text-left">
    <%= form.label :password, class: "text-base uppercase block w-auto" %>
    <%= form.password_field :password, class: "w-full" %>
  </div>

  <div class="mt-10 text-left">
    <%= form.label :password_confirmation, class: "text-base uppercase block w-auto" %>
    <%= form.password_field :password_confirmation, class: "w-full" %>
  </div>

  <div class="actions">
    <%= form.submit "Signup", class: "w-full py-3 mt-10 rounded bg-brand-primary" %>
  </div>
<% end %>
