<h1 class="text-4xl">Library</h1>
<div class="grid items-start grid-cols-3 gap-12 mt-12">
<% @items.each do | item | %>
    <% if item.category == "image" %>
    <div class="border rounded border-brand-secondary">
        <%= image_tag item.url %>
        <div class="flex w-full p-4 border-t border-brand-secondary">
            <div>
                <svg class="mt-1.5 mr-3" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 9.5L7.5 5.5L9.5 9.5H2.5Z" stroke="#33425B" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5 0.5H1.5C0.947715 0.5 0.5 0.947715 0.5 1.5V10.5C0.5 11.0523 0.947715 11.5 1.5 11.5H10.5C11.0523 11.5 11.5 11.0523 11.5 10.5V1.5C11.5 0.947715 11.0523 0.5 10.5 0.5Z" stroke="#33425B" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4 5C4.55228 5 5 4.55228 5 4C5 3.44772 4.55228 3 4 3C3.44772 3 3 3.44772 3 4C3 4.55228 3.44772 5 4 5Z" fill="#33425B"/>
                </svg>
            </div>
            <div class="w-full">
                <h3>Image</h3>
            </div>
            <div class="pt-2">
                <a href="<%= url_for(controller: 'users', action: 'new') %>"></a>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M11.25 2.25H9V0.75C9 0.551088 8.92098 0.360322 8.78033 0.21967C8.63968 0.0790176 8.44891 0 8.25 0L3.75 0C3.55109 0 3.36032 0.0790176 3.21967 0.21967C3.07902 0.360322 3 0.551088 3 0.75V2.25H0.75C0.551088 2.25 0.360322 2.32902 0.21967 2.46967C0.0790176 2.61032 0 2.80109 0 3C0 3.19891 0.0790176 3.38968 0.21967 3.53033C0.360322 3.67098 0.551088 3.75 0.75 3.75H11.25C11.4489 3.75 11.6397 3.67098 11.7803 3.53033C11.921 3.38968 12 3.19891 12 3C12 2.80109 11.921 2.61032 11.7803 2.46967C11.6397 2.32902 11.4489 2.25 11.25 2.25V2.25ZM4.5 2.25V1.5H7.5V2.25H4.5Z" fill="#F73859"/>
                    <path d="M1.54125 5.25L1.87875 11.325C1.89741 11.5106 1.98459 11.6827 2.12327 11.8075C2.26195 11.9323 2.44218 12.0009 2.62875 12H9.37875C9.56468 12 9.74398 11.9309 9.88187 11.8062C10.0198 11.6815 10.1064 11.51 10.125 11.325L10.4625 5.25H1.54125Z" fill="#F73859"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="12" height="12" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <% else %>
    <div class="border rounded border-brand-secondary">
        <%= image_tag item.image_src %>
        <div class="flex w-full p-4 mt-2 border-t border-brand-secondary">
            <div>
                <svg class="mt-1.5 mr-3" width="10.49px" height="12px" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M6.76547 0.5H1.74918C1.32602 0.500529 0.92033 0.685074 0.621109 1.01315C0.321888 1.34122 0.153574 1.78603 0.153091 2.25L0.153091 6.25C0.153574 6.71397 0.321888 7.15878 0.621109 7.48685C0.92033 7.81493 1.32602 7.99947 1.74918 8H1.9772V6.5H1.74918C1.68871 6.5 1.63071 6.47366 1.58795 6.42678C1.54519 6.37989 1.52117 6.3163 1.52117 6.25V2.25C1.52117 2.1837 1.54519 2.12011 1.58795 2.07322C1.63071 2.02634 1.68871 2 1.74918 2H6.76547C6.82594 2 6.88394 2.02634 6.9267 2.07322C6.96946 2.12011 6.99348 2.1837 6.99348 2.25V6.25C6.99348 6.3163 6.96946 6.37989 6.9267 6.42678C6.88394 6.47366 6.82594 6.5 6.76547 6.5H5.16938V8H6.76547C7.18863 7.99947 7.59432 7.81493 7.89354 7.48685C8.19276 7.15878 8.36108 6.71397 8.36156 6.25V2.25C8.36108 1.78603 8.19276 1.34122 7.89354 1.01315C7.59432 0.685074 7.18863 0.500529 6.76547 0.5V0.5Z" fill="#33425B"/>
                    <path d="M9.50163 4H9.27362V5.5H9.50163C9.5621 5.5 9.6201 5.52634 9.66286 5.57322C9.70562 5.62011 9.72964 5.6837 9.72964 5.75V9.75C9.72964 9.8163 9.70562 9.87989 9.66286 9.92678C9.6201 9.97366 9.5621 10 9.50163 10H4.48534C4.42487 10 4.36687 9.97366 4.32411 9.92678C4.28135 9.87989 4.25733 9.8163 4.25733 9.75V5.75C4.25733 5.6837 4.28135 5.62011 4.32411 5.57322C4.36687 5.52634 4.42487 5.5 4.48534 5.5H6.08143V4H4.48534C4.06218 4.00053 3.65649 4.18507 3.35727 4.51315C3.05805 4.84122 2.88973 5.28603 2.88925 5.75V9.75C2.88973 10.214 3.05805 10.6588 3.35727 10.9869C3.65649 11.3149 4.06218 11.4995 4.48534 11.5H9.50163C9.92479 11.4995 10.3305 11.3149 10.6297 10.9869C10.9289 10.6588 11.0972 10.214 11.0977 9.75V5.75C11.0972 5.28603 10.9289 4.84122 10.6297 4.51315C10.3305 4.18507 9.92479 4.00053 9.50163 4V4Z" fill="#33425B"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="10.9446" height="12" fill="white" transform="translate(0.153091)"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="w-full">
                <h3>
                    <%= link_to item.title, item.url %>
                </h3>
            </div>
            <div class="pt-2">
                <%= link_to item, method: :delete, data: { confirm: 'Are you sure?' }, class: "flex" do %>
                    <span class="mr-2 -mt-2 hover:text-brand-primary">Destroy</span><svg class="-mt-1" width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)" fill="#F73859"><path d="M11.25 2.25H9V.75A.75.75 0 008.25 0h-4.5A.75.75 0 003 .75v1.5H.75a.75.75 0 000 1.5h10.5a.75.75 0 100-1.5zm-6.75 0V1.5h3v.75h-3zM1.541 5.25l.338 6.075a.75.75 0 00.75.675h6.75a.75.75 0 00.746-.675l.338-6.075H1.54z"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h12v12H0z"/></clipPath></defs></svg>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
<% end %>
</div>