<div class="h-auto bg-gradient-to-b from-blue-400 to-white">
    <div class="container mx-auto">
        <header class="items-center content-center text-center">
            <nav class="float-right p-10">
                <ul class="flex">
                    <li class="mr-10"><%= link_to "Home", :root %></li>
                    <li class="mr-10"><%= link_to "Login", "" %></li>
                    <li><%= link_to "Sign Up", "" %></li>
                </ul>
            </nav>
            <%= image_tag "Logo.png", class: "block pt-40 mx-auto" %>
            <h1 class="mx-auto text-brand-primary">Final Project</h1>
            <p>Tired of loosing the content you find on the Internet? Final Project offers a solution</p>
            <button>Try it out for free</button>
        </header>
        <div>
            <%= image_tag "Browser.png" %>
        </div>
    </div>
</div>
<div class="container mx-auto">
    <h2>What can you collect?</h2>
    <div>
        <div>
            Images
        </div>
        <div>
            RSS Feeds
        </div>
        <div>
            Videos
        </div>
        <div>
            Links
        </div>
    </div>
    <h3>What made me make Final Project</h3>
    <p>
        Random text
    </p>
    <div>
        <h2>Final Call to action</h2>
        <button>Try it out for free</button>
    </div>
</div>
<footer>
    <div class="container mx-auto">
        <div class="float-left">copyright</div>
        <div class="">made</div>
        <div class="float-right">go to top</div>
    </div>
</footer>